name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  debug-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential gcc g++ pkg-config valgrind
    
    - name: Configure Debug
      run: cmake -B build -DCMAKE_BUILD_TYPE=Debug
      
    - name: Build Debug
      run: cmake --build build -j$(nproc)
      
    - name: Tests
      run: |
        ctest --test-dir build --output-on-failure -V
        cd build
        valgrind --leak-check=full --error-exitcode=1 --quiet ./Spore2D

  release:
    needs: debug-test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install CMake
      run: sudo apt-get update && sudo apt-get install -y cmake build-essential gcc g++
    
    - name: Build Release
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build -j$(nproc)
