name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install CMake and dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential gcc g++ pkg-config
    
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release
      
    - name: Build
      run: cmake --build build -j$(nproc)
      
    - name: Test Spore2D
      run: ctest --test-dir build --output-on-failure -V
